@page "/avatar"

<PageTitle>Avatar Demo</PageTitle>

<h3>Avatar</h3>

<h4>Initials</h4>
<IgbAvatar Shape="@AvatarShape.Circle">AB</IgbAvatar>
<IgbAvatar Shape="@AvatarShape.Circle">CD</IgbAvatar>
<IgbAvatar Shape="@AvatarShape.Circle">EF</IgbAvatar>

<h4>Shapes</h4>
<IgbAvatar Shape="@AvatarShape.Circle">CI</IgbAvatar>
<IgbAvatar Shape="@AvatarShape.Square">SQ</IgbAvatar>
<IgbAvatar Shape="@AvatarShape.Rounded">RD</IgbAvatar>
